<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= user.avatar %>" alt ='user_profile' width="100px"/>

        

        <% if (user.id == profile_user.id) {%>
        <!-- If user matches then show the form-->

        <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
            <input type='text' name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type='email' name="email" placeholder="Your email" value="<%= profile_user.email %>" required>
            <input type="file"  name="avatar" placeholder="Your profile">
            <input type="submit" value="Update">
        </form>


        <%}else{%>
        <!-- If user dont matches then show the info-->
            <p>
                <%= profile_user.name%>
            </p>
            <p>
                <%= profile_user.email%>
            </p>
        <%}%>
